.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  margin-bottom: -75px;
  margin-top: -95px;
  flex-direction: column;

  h3 {
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1.5px;
    line-height: 70px;
    width: 500px;
    color: #28352e;
    margin-left: 25px;
    position: absolute;
  }

  img {
    border: solid 5px #28352e;
    z-index: 5;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    margin: 0 auto;
  }

  img:hover {
    border: solid 5px #ffbd66;
    transition: 1s;
  }
}
