.timelineBlock {
  background: #e7c983;
  height: 3000px;
  display: flex;
  border-top: solid 5px #28352e;

  .timeCard {
    display: flex;
    width: 380px;
    height: 200px;
    background: #fbf5e7;
    border: solid 4px #28352e;
    margin-bottom: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .year {
      font-family: "Muli", sans-serif;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
    }

    .title {
      font-family: "Muli", sans-serif;
      letter-spacing: 1px;
      color: #28352e;
      margin: 0;
      padding: 0;
    }

    .summary {
      margin: 0;
      padding: 5px 15px 10px 15px;
      font-family: "Muli", sans-serif;
      letter-spacing: 1px;
      font-size: 0.8em;
      line-height: 18px;
    }
  }

  .imageCard {
    position: relative;
    img {
      position: absolute;
      margin: 0;
      padding: 0;
    }
  }

  .leftLine {
    display: flex;
    flex-direction: column;
    height: 5000px;
    width: 50%;
    align-items: center;
    margin-top: 100px;
  }

  .rightLine {
    display: flex;
    flex-direction: column;
    height: 5000px;
    width: 50%;
    align-items: center;
    margin-top: 200px;
  }

  // this is the state changing timeline
  .theLine {
    border-right: solid #28352e 6px;
    border-radius: 15px;
    width: 0;
    position: relative;
    outline: 3px solid rgba(243, 184, 74, 0.733);

    img {
      position: absolute;
      bottom: -40px;
      width: 70px;
      right: 0;
      left: -33px;
    }
  }
}
