.timelineBlock {
  background: #e7c983;
  height: 3000px;
  display: flex;

  .timeCard {
    display: flex;
    width: 360px;
    height: 170px;
    background: #fbf5e7;
    border: solid 4px #28352e;
    margin-bottom: 200px;
  }

  .leftLine {
    display: flex;
    flex-direction: column;
    height: 5000px;
    width: 50%;
    align-items: center;
    margin-top: 100px;
  }

  .rightLine {
    display: flex;
    flex-direction: column;
    height: 5000px;
    width: 50%;
    align-items: center;
    margin-top: 200px;
  }

  // this is the state changing timeline
  .theLine {
    border-right: solid #28352e 6px;
    border-radius: 15px;
    width: 0;
  }
}
